<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kobe.mall.dao.SellerProductDetailMapper">
  <resultMap id="BaseResultMap" type="com.kobe.mall.entity.SellerProductDetail">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="details" jdbcType="VARCHAR" property="details" />
    <result column="photo_url" jdbcType="VARCHAR" property="photoUrl" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
  </resultMap>
  <insert id="insert" parameterType="com.kobe.mall.entity.SellerProductDetail">
    insert into seller_product_detail (id, details, photo_url, 
      create_time, modify_time)
    values (#{id,jdbcType=INTEGER}, #{details,jdbcType=VARCHAR}, #{photoUrl,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kobe.mall.entity.SellerProductDetail">
    insert into seller_product_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="details != null">
        details,
      </if>
      <if test="photoUrl != null">
        photo_url,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="details != null">
        #{details,jdbcType=VARCHAR},
      </if>
      <if test="photoUrl != null">
        #{photoUrl,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
</mapper>